django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
Pillow>=10.0
psycopg2-binary>=2.9
python-decouple>=3.8
razorpay>=1.4.1
requests>=2.31.0
mysql-connector-python>=8.0.33
reportlab<4